* {
  margin: 0;
  padding: 0;
  box-sizing: border-box
}

body {
  background-color: papayawhip;
  box-sizing: border-box;
  overflow: hidden;

}

.container {
  width: 100%;
border: 2px solid blue;
height: auto;
}

.form-box {
  max-width: 350px;
  margin: 20px auto;
  border-radius: 10px;
  min-height: 250px;
  padding: 30px;
  background-color: whitesmoke;
  border: 2px solid black;


}

.input-field{
  display: flex;
  flex-direction: column;
  margin-top: 30px;
  cursor: pointer;
}
.form-box input{
  display: block;
  min-height: 25px;
  font-size: 15px;
  padding: 10px;
  width: 95%;
  border-radius: 10px;
  border: 1px solid #ccc;
}
.form-box input[type='text']{
  padding-right: 25px;
}

#submit{
  margin-top: 30px;
  background-color:lightsalmon;
            cursor: pointer;
            color: white;
            font-weight: 900;

}

.form-box h2{
  text-align: center;
  font-size: 30px;
  font-weight: 800;
}
.form-box label{
  font-size: 20px;
  color:rgb(44, 44, 91);
  cursor: pointer;
  font-weight: 900;
  letter-spacing: 2px;
}

.input-field span{
  display: none;
}


/* adding class for event */

.form-box .fa {
  position: absolute;
  right: 0px;
  bottom: 10px;
  font-size: 25px;
}
.form-box .input-field.error input{
  border:3px solid red;
}
.form-box .input-field.success input{
  border:3px solid greenyellow;
}
.form-box .input-field.error .fa{
  color: red;
bottom: 40px;
}
.form-box .input-field.success .fa{
  color: greenyellow;
}
.input-field span{
  display: none;
  margin: 8px;
  font-weight: 900;
  font-style: italic;
  /* border: 2px solid red; */
  font-size: 15px;
  text-align: center;
}
.input-field.error span{
  color: red;
  display: block;
}
.input-field.success span{
  color: greenyellow;
  display: block;
}
