* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
  background-color:rgba(230, 187, 187, 0.484);
}

#create-account-form {
  border: 4px solid blue;
  padding: 20px;
  text-transform: uppercase;
  height: 600px;
  width: 400px;
  background-color:bisque;
  border-radius: 25px;
}

.title {
  text-align: center;
  margin-bottom: 20px;
}

.input-group {
  margin: 20px 0;
  position: relative;
}

.input-group label {
  font-size: 20px;
}

.input-group input {
  display: block;
  width: 90%;
  padding: 10px;
}

.success input {
  border: 4px solid greenyellow;
}

.error input {
  border: 4px solid red;
}

.input-group i {
  position: absolute;
  right: 0;
  bottom: 34%;
  font-size: 25px;

  visibility: hidden;
}

.success .fa-check-circle {
  visibility: visible;
  color: green;
}

.error .fa-exclamation-circle {
  color: red;
  visibility: visible;
  top: 33%;
}

.input-group p {
  color: red;
  font-weight: 900;
  letter-spacing: 2px;

  visibility: hidden;
}

.error p {
  visibility: visible;
}

.btn {
  display: block;
  width: 100%;
  padding: 10px 0;
  font-size: 20px;
  border-radius: 25px;
  border: 1px solid blue;
 transition: all ease 0.5s;
  cursor: pointer;
  background-color: skyblue;
}

.btn:hover{
  box-shadow: 10px 10px 20px black;
}